@media all and (max-width: 725px) {
    header {
        nav {
            .nav-menu {
                visibility: hidden;
                width: 0;
            }

            .burger {
                display: inline-block;
                img {
                    width: 20px;
                }
            }
        }
    }
    
}