// Utilitaires couleurs

// header
$coloreheader: #FEFFFF;

// all
$colorwbody: #FEFBF8;

// body
$colorh2: #212F41;
$colortypo: #87838C;
$colorligne: #FCF5B2;
$colorligne2:#F8D4CB;

// graphiste
$colorwgrap: #84E0CD;
$colortxtg: #27584D;

// photo
$colorwpho: #55C7FB;
$colortxtpho: #1E536E;

// clients
$colorhcli: #A7A8AA;
$colortxtcli: #6B6B6C;
$colornomcli: #242A3B;
$colorrolecli: #B0ADAE;

// footer
$colorwalfooter: #76D9C7;
$colortxtfooter: #387965;
